/* latin */
@font-face {
  font-family: 'Yanone Kaffeesatz';
  font-style: normal;
  font-weight: 400;
  src: local('Yanone Kaffeesatz Regular'), local('YanoneKaffeesatz-Regular'), url(../fonts/Yanone_Kaffeesatz/YanoneKaffeesatz-Regular.woff2) format('woff2');
}

/* latin */
@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Serif'), local('DroidSerif'), url(../fonts/Droid_Serif/DroidSerif.woff2) format('woff2');
}
/* latin */
@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: 700;
  src: local('Droid Serif Bold'), local('DroidSerif-Bold'), url(../fonts/Droid_Serif/DroidSerif-Bold.woff2) format('woff2');
}
/* latin */
@font-face {
  font-family: 'Droid Serif';
  font-style: italic;
  font-weight: 400;
  src: local('Droid Serif Italic'), local('DroidSerif-Italic'), url(../fonts/Droid_Serif/DroidSerif-Italic.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* latin */
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Mono'), local('UbuntuMono-Regular'), url(../fonts/Ubuntu_Mono/UbuntuMono-Regular.woff2) format('woff2');
}
/* latin */
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 700;
  src: local('Ubuntu Mono Bold'), local('UbuntuMono-Bold'), url(../fonts/Ubuntu_Mono/UbuntuMono-Bold.woff2) format('woff2');
}
/* latin */
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: italic;
  font-weight: 400;
  src: local('Ubuntu Mono Italic'), local('UbuntuMono-Italic'), url(../fonts/Ubuntu_Mono/UbuntuMono-Italic.woff2) format('woff2');
}

body {
  font-family: 'Droid Serif';
  line-height: 1.4;
}

h1, h2, h3 {
  font-family: 'Yanone Kaffeesatz';
  font-weight: normal;
  margin-bottom: 0;
}

.remark-slide-content h1 { font-size: 3em; }
.remark-slide-content h2 { font-size: 2em; }
.remark-slide-content h3 { font-size: 1.6em; }
.footnote {
  position: absolute;
  bottom: 3em;
  right: 3em;
}
li p { line-height: 1.25em; }
.red { color: #fa0000; }
.large { font-size: 2em; }
a, a > code {
  color: rgb(249, 38, 114);
  text-decoration: none;
}
code {
  -moz-border-radius: 5px;
  -web-border-radius: 5px;
  background: #e7e8e2;
  border-radius: 5px;
}
.remark-code, .remark-inline-code { font-family: 'Ubuntu Mono'; }
.remark-code-line-highlighted     { background-color: #373832; }
.pull-left {
  float: left;
  width: 47%;
}
.pull-right {
  float: right;
  width: 47%;
}
.pull-right ~ p {
  clear: both;
}
#slideshow .slide .content code {
  font-size: 0.8em;
}
#slideshow .slide .content pre code {
  font-size: 0.9em;
  padding: 15px;
}
.inverse {
  background: #272822;
  color: #777872;
  text-shadow: 0 0 20px #333;
}
.inverse h1, .inverse h2 {
  color: #f3f3f3;
  line-height: 0.8em;
}

/* Two-column layout */
.left-column {
  color: #777;
  width: 20%;
  height: 92%;
  float: left;
}
  .left-column h2:last-of-type, .left-column h3:last-child {
    color: #000;
  }
.right-column {
  width: 75%;
  float: right;
  padding-top: 1em;
}
